html,
body{
    padding:0;
    margin:0;
}


#main{
  
.header-position{
    font-size: 20px;
    color: white;
    padding-top: 2%;
    .home{
        cursor: pointer;
    }
    .studio-color{
        color: #f75f0d;
    }
    .menu{
        cursor: pointer;
        float: right;
    }
   
}

}